# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
- List popular languages for Data Science
- List data science libraries
- Create a table of Data Science tools

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. SQL
4. Java
5. C++
6. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras

In [10]:
import pandas as pd

data = {'Data Science Tools': ['Jupyter Notebook', 'RStudio', 'Apache Zeppelin']}
table = pd.DataFrame(data)

table

  Data Science Tools
0   Jupyter Notebook
1            RStudio
2    Apache Zeppelin

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [11]:
(3*4)+5

17

In [ ]:
This will convert 200 minutes to hours by diving by 60.

In [1]:
def convert_minutes_to_hours(minutes):
    hours = minutes / 60
    return hours

minutes = 200
hours = convert_minutes_to_hours(minutes)
print(f"{minutes} minutes is equal to {hours} hours.")

200 minutes is equal to 3.3333333333333335 hours.

## Author
Carla Sofia Ferreira Fernandes